{% extends "base.html" %}
{% block title %}View all users{% endblock %}
{% block content %}
<!-- <p>{{report.json_data}}</p> -->
<h1>Отчёт: {{report.report_name}} | {{report.created_at.time().strftime("%H:%M:%S")}} | {{report.created_at.date().strftime("%d-%m-%Y")}} | владелец: {{report.username}}</h1>

<div style="margin-bottom: 20px;">
    <button onclick="filterBad()">Дефекты</button>
    <button onclick="filterAll()">Все кадры</button>
</div>

{% for item in report.json_data %}
<div class="report-view" style="display: flex; margin-bottom: 10px" data-class="{{ item.predictions.predictions[0].class }}">
    <img class="processed_image" src="data:image/jpeg;base64, {{ item.output_image }}" alt="обработанное изображение">
    <div class="report-statistics">
        <p class="defect_class"><strong>Состояние провода:</strong> {{ item.predictions.predictions[0].class }}</p>
        <p class="time"><strong>Время кадра:</strong> {{ item.frame_time }}</p>
        <p class="confidence"><strong>Степень предсказания дефекта:</strong> {{ item.predictions.predictions[0].confidence | round(3) }}</p>
    </div>
</div>
{% endfor %}
<button onclick="window.scrollTo(0, 0)" style="width: 100%;">Наверх</button>

<script>
    function filterBad() {
        const reports = document.querySelectorAll('.report-view');
        reports.forEach(report => {
            const defectClass = report.dataset.class;
            if (defectClass === 'bad cabel') {
                report.style.display = 'flex';
            } else {
                report.style.display = 'none';
            }
        });
    }

    function filterAll() {
        const reports = document.querySelectorAll('.report-view');
        reports.forEach(report => {
            report.style.display = 'flex';
        });
    }
</script>
{% endblock %}